body{
    margin: 0px;
    padding: 0px;
    background-image: url(Dash-images/dash-back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
}
.left{
    width: 250px;
    height: 900px;
    background-color: rgb(26, 21, 49);
    border-radius: 20px;
    margin-top: 49px;
    margin-left: 90px;
    margin-bottom: 25px;
    transition: all 250ms;
}
.left:hover{
    box-shadow: rgba(0, 0, 255, 0.25) 0px 30px 60px -12px, rgba(36, 12, 255, 0.3) 0px 18px 36px -18px;
    transform: scale(1.01);
}
.left hr{
    width: 235px;
}
.icon{
    display: inline-block;
}
.icon img{
    border-radius: 10px;
    width: 80px;
    margin-left: 10px;
    margin-top: 10px;
}
.name{
    display: inline-block;
    margin-left: 7px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 20;
    color: white;
}
.prog{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}
.right-top{
    width:1000px;
    height: 200px;
    position: absolute;
    top: 49px;
    left: 380px;
    border-radius: 20px;
    transition: all 250ms;
    background-color: rgb(26, 21, 49);  
}
.event{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.right-top:hover{
    transform: scale(1.01);
    box-shadow: rgba(255, 4, 4, 0.25) 0px 30px 60px -12px, rgba(255, 15, 15, 0.3) 0px 18px 36px -18px;
}
.right-mid{
    width:1000px;
    height: 200px;
    position: absolute;
    top: 269px;
    left: 380px;
    border-radius: 20px;
    transition: all 250ms;
    background-color: rgb(26, 21, 49);
}
.badges{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}
.right-mid:hover{
    transform: scale(1.01);
    box-shadow: rgba(255, 0, 0, 0.25) 0px 30px 60px -12px, rgba(255, 18, 18, 0.3) 0px 18px 36px -18px;
}
.right-bottom{
    width:1000px;
    height: 456px;
    position: absolute;
    top: 489px;
    left: 380px;
    border-radius: 20px;
    transition: all 250ms;
    background-color: rgb(26, 21, 49);
}
.achieve{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.right-bottom:hover{
    transform: scale(1.01);
    box-shadow: rgba(0, 255, 72, 0.25) 0px 30px 60px -12px, rgba(12, 255, 56, 0.3) 0px 18px 36px -18px;
}
