body{
    margin: 0px;
    padding: 0px;
    background-image: url(Dash-images/Back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.left{
    width: 250px;
    height: 650px;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    margin-top: 49px;
    margin-left: 90px;
    transition: all 250ms;
}
.left:hover{
    box-shadow: 1px 2px 3px 1px blue;
    transform: scale(1.01);
}
.right-top{
    width:1000px;
    height: 200px;
    position: absolute;
    top: 49px;
    left: 380px;
    border-radius: 20px;
    transition: all 250ms;
    backdrop-filter: blur(50px);
}
.left:hover{
    box-shadow: rgba(64, 28, 210, 0.25) 0px 30px 60px -12px inset, rgba(25, 14, 179, 0.3) 0px 18px 36px -18px inset;

    transform: scale(1.01);
}
.right-top:hover{
    transform: scale(1.01);
    box-shadow: rgba(131, 24, 24, 0.25) 0px 30px 60px -12px inset, rgba(173, 22, 22, 0.3) 0px 18px 36px -18px inset;
}

.right-mid{
    width:1000px;
    height: 200px;
    position: absolute;
    top: 269px;
    left: 380px;
    border-radius: 20px;
    transition: all 250ms;
    backdrop-filter: blur(50px);
}
.right-mid:hover{
    transform: scale(1.01);
    box-shadow: rgba(131, 24, 24, 0.25) 0px 30px 60px -12px inset, rgba(173, 22, 22, 0.3) 0px 18px 36px -18px inset;
}
.right-bottom{
    width:1000px;
    height: 200px;
    position: absolute;
    top: 489px;
    left: 380px;
    border-radius: 20px;
    transition: all 250ms;
    backdrop-filter: blur(50px);
}
.right-bottom:hover{
    transform: scale(1.01);
    box-shadow: rgba(39, 177, 23, 0.25) 0px 30px 60px -12px inset, rgba(46, 179, 5, 0.3) 0px 18px 36px -18px inset;
}
